body{
  font-family: 'Lato';
  background-image: url("");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
}

.bande {
  opacity : 0.2;
  position: absolute;
  z-index: -1;
  width: 50%;
  height: 100%;
  right: 0;
  top:0;
  background-color: #c0392b;
}

.WelcomeMsg {
  font-family: 'Bauhaus 93';
  text-shadow: 9px 9px 30px rgba(0, 0, 0, 0.397);
  position: relative;
  display: inline-block;
  color: white;
  font-weight: lighter;
  font-size: 52px;
  text-align: center;
  left:5px;
  right:0;
  top:10px;
  margin:0 auto;
  height: 100%;
}

.logoWH{
  justify-content: space-around;
  height: 300px;
  position:absolute;
  top: 0px;
  display: block;
  margin-left: 30%;
  margin-top: 200px;
}


.LoginImg {
  width: 38px;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

#connectezVous{
  margin-bottom: 30px;
}

#connectezVousImg {
  width:28px;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

#input-password {
  margin-top: 20px;
  margin-bottom: 50px;
}




.ConnectionPanel{
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  position: absolute ;
  height: 480px;
  width: 310px;
  float: right;
  top: 10%;
  right: 5%;
  text-align: center;
  border-radius: 12px;
  box-shadow: 9px 9px 30px rgba(0, 0, 0, 0.178);
}


.messageConnexion{
  font-weight: bold;
  color: #ff5252;
  font-size: 30px;
  display: inline-block;
  vertical-align: middle;
}

.ConnectionPanel input{
  height: 45px;
  border-radius: 14px;
  border:none;
  box-shadow: 0px  3px 10px rgba(143, 1, 1, 0.34);
  width: 240px;
  font-size: 25px;
  display: inline-block;
  vertical-align: middle;
}

.logButton {
  height: 70px;
  width:200px;
  background-color: #ff5252;
  color: white;
  font-size: 25px;
  border-style: hidden;
  border-radius: 45px;
  cursor:pointer;
  /* margin-top: 30px; */
}

.logButton:hover{
  background-color: #c0392b;
  transition: 0.3s;
}

.logButton:active {
  background-color: #2980b9;
  height: 65px;
  width:195px;
}

.logoAdmin{
  position: fixed;
  bottom:0px;
  right: 0px;
  border-style: dashed;
  border-color:#ff5252;
}

.logoAdmin:hover{
  transition: 0.3s;
  border-style: dashed;
  border-color: #5b6bff;
}

.logoAdmin img{
  width: 50px;
}

.logoInterrogation{
  height: 40px;
  margin-bottom: 25px
}

.popup{
  color:#ccc;
  text-shadow:0 -1px 0 black;
}
.popup:hover,.popup:focus{
  box-shadow:0 1px 0 rgba(255,255,255,.4);
}

.popup span{
  position:absolute;
  margin-top:23px;
  margin-left:-35px;
  color:#ff5252;
  background:rgba(0,0,0,.9);
  padding:15px;
  border-radius:3px;
  box-shadow:0 0 2px rgba(0,0,0,.5);
  transform:scale(0) rotate(-12deg);
  transition:all .25s;
  opacity:0;
}

.popup:hover span, .popup:focus span{
     transform:scale(1) rotate(0);
     opacity:1;
}

.messageErreur{
  text-align: center;
  position: relative;
  color: red;
}

.mdpoublie {
  width: 200px;
}
.invisible{
  display: none;
}
.formWrapper{
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top : 27%;
  left:30%;
  height: 52%;
  width: 40%;
  text-align: center;
  background-color: #ecf0f1;
}
.closeButton{
  height: 50px;;
  position: absolute;
  top:2%;
  cursor: pointer;
  right:1%;
}

.closeButton:active{
  height: 48px;
  transition:0.1s;
}

.titre_form{
  text-align: center;
  font-family: 'Lato';
  font-size: 150%;
  color: #34495e;
  margin-bottom: 20%;
}

.formulaire #txt{
  height: 40px;
  border-radius: 5px;
  border:none;
  width: 50%;
  font-size: 20px;
  margin-bottom:25px;
}

.formButton {
  font-family: "Helvetica";
  height: 70px;
  width:200px;
  background-color: #34495e;
  color: white;
  font-size: 25px;
  border-style: hidden;
  border-radius: 7px;
  cursor:pointer;
  transition: 0.3s;
}

.formButton:hover{
  background-color: #2980b9;
}

.formButton:active {
  background-color: #2980b9;
  height: 65px;
  width:195px;
}

@font-face {
  font-family: "ttf";
  src: url("akaDylan_Plain.ttf");
}

h1 {
  width:40%;
  font-size: 40px;
  margin: 0px auto;
  font-family: ttf, sans-serif;
  background-image: url("../images/background_captcha.png");
  background-size:cover;
}
 p{
   display: inline;
}
