body{
  /* background-color: #ecf0f1; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes rotation {
  0% {
    transform: scaleX(0)
  }
  100% {
    transform: scaleX(1);
  }
}


/* Tableau de liste des modules */
.imageModule{
  height: 150px;
  border-radius: 500px;
  border: solid #8ec4e9;
  border-width: 1px;
  box-shadow: 0px 0px 20px rgba(136, 222, 248, 0.479);
  animation-duration: 0.5s;
  animation-name: rotation;
  
}

.imageModule:hover {
  background-color: hsl(207, 100%, 98%);
}

#rechercheForm {
  text-align: center;
}
.tableau_modules{
  border-collapse: collapse;
  border-style: hidden;
  margin-bottom: 40px;
}

.tableau_modules td{
border: solid #bdc3c7;
border-width: 1px;
text-align: center;
}

#nom{
  margin-top: 20px;
  font-family: 'Bauhaus 93';
  font-size: 20px;
  margin-bottom:3px;
}

#description{
  margin-top: 10px;
  margin-bottom:5px;
}

#prix{
  margin-bottom:10px;
  font-weight:bold;
}

.buyButton {
  width: 48px;
  height: 48px;
  border-radius: 500px;
  box-shadow: 0px 0px 10px rgba(34, 34, 34, 0.534);

}

button, input{
  background-color: #34495e;
  text-align: center;
  border:none;
  color:white;
  font-size: 1.5em;
  cursor: pointer;
}

select{
  cursor: pointer;
  font-size: 20px;
  background-image: url('../images/search.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  background-size: 20px;
  padding: 10px 10px 10px 35px;
  border-radius: 100px;
  border-color: rgb(230, 230, 230);
  box-shadow: 0px 0px 10px rgba(34, 34, 34, 0.185);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}




.commande{
  position: -webkit-sticky;
  position: sticky;
  top:0;
}

input:hover{
  background: #2980b9;
  transition: 0.2s;
}

.invisible{
  display: none;
}
