.bloc-header {
	background-color:#0a7ae9;
	z-index:2;
	padding: 20px 40px;
	height: 60px;
	color: #ffffff;
	box-sizing: border-box;
	box-shadow:0px 0px 22px #185ca0b7;
}

body {margin: 0;}


/* Logo */

#logo img{
	float: left;
	margin-left: -0%;
	height: 55px;
	margin-top: -15px;;
	position: relative;
}

.bloc {
	text-align: center;
	margin: 0 auto;
}

/* The header links */

.bloc a {
	color: #ffffff;
	text-decoration: none;
}

.bloc nav{
	font:16px 'Lato';
	line-height: 40px;
	float: left;
	margin: -10px 0 0 20px;
	padding: 0;
}

.bloc nav a{
	font-size: 18px;
	display: inline-block;
	padding: 0 12px;
	opacity: 0.8;
	position: relative;
	line-height: 1;
	margin-top: 0px;
	text-shadow: 0px  0px 3px rgba(12, 12, 12, 0.5); 

	/* text-shadow: 0px  3px 6px rgba(0, 0, 0,0.5); */
}

#user-name-header{
	font-size: 18px;
	text-shadow: 0px  0px 3px rgba(12, 12, 12, 0.5); 
}

#user-name-header:hover{
	text-shadow: 0px  0px 7px rgba(255, 255, 255, 0.322); 

}

.bloc nav a:hover {
	opacity: 1;
	text-shadow: 0px  0px 7px rgba(255, 255, 255, 0.322); 

	
}



.menu{
	position: relative;
	float:right;
	background-color:#0b105a9f;
	margin-top: -20px;
	margin-right: -40px;
	width:200px;
	height:60px;
	border-radius:2px;
	z-index: 2;
}

.menu p{
	height: 100%;
	vertical-align:middle;
	position: relative;
	font-size: 1em;
	font-family: 'Lato';
}

.menu:before{
	content:'';
	width:0;
	height:0;
	top: 30px;
	left: 15px;
	position:absolute;
	border:5px solid transparent;
	border-top-color:#fff;
}

.menu ul{
	display: none;
	font:bold 13px Arial, 'Lato', sans-serif;
	background-color:#0b105a9f;
	list-style: none;
	position: absolute;
	text-align: center;
	width: 200px;
	top: 46px;
	right: 0;
	padding: 10px;
	border-radius: 2px;
	/* box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); */
	box-sizing: border-box;
}

.menu:active ul,
.menu:hover ul,
.menu.show ul{
	display:block;

}

.menu ul li{
	padding:5px;
}

.menu ul li:hover{
	background-color: rgba(243, 243, 243, 0.158);

}

.menu ul li a.highlight{
	color:#c55539;
}

.menu img{
	border-radius:5000px;
	position:absolute;
	top:6px;
	width: 48px;
	height: 48px;
	right:10px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.432);
}


@media all and (max-width: 800px) {

	.bloc h1 {
		font-size: 24px;
	}

	.bloc nav a {
		padding: 0 5px;
	}

	.bloc nav {
		margin-left: 20px;
	}
}

@media all and (max-width: 600px) {

	.bloc nav {
		display: none;
	}

}

/* FOOTER */

#pageFooter {
	font-family: 'Helvetica';
	width: 100%;
	left: 0%;
	position: fixed;
	bottom: 0;
}
#pageFooterContent {
	color: white;
	margin-left: 10px;
	height: 20px;
	margin-right: 10px;
	margin: 40px auto 0;
	background-color: #0a7ae9e8;
}
#rectangleInterieur {
	display: inline-block;
	position: fixed;
	width: 18%;
	height: 90%;
	left: 40%;
	background-color: #ffffff50;
	border-radius: 3px;
}
#rectangleInterieur{
	color: white;
	text-align: center;
}
#rectangleInterieur a{
	color: white;
}

#imgFooter1 {
	width: 30%;
    height: auto;
}
#imgFooter2 {
	width: 60px;
	height: auto;
	margin-right: 10px;
}

#imgFooter3 {
	width: 30px;
    height: auto;
}
