body{
  /* background-color: #ecf0f1; */
  font-family: 'Helvetica';
}

a{
  text-decoration: none;
  color: #3498db;
}

/* Tableau de liste des modules */

.tableauWrapper{
  z-index: 1;
  margin-bottom: 20px;
}

.gestion{
  text-align: center;
  width: 30%;
  position: relative;
  margin-left: 6%;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Helvetica';
}

.gestion td :hover{
  background-color:  #3498db;
}

.gestion td :active{
  font-size:1.3em;
}

.gestion button{
  background-color:#34495e;
  text-align: center;
  border:none;
  color:white;
  font-size: 1.5em;
  padding-left:40px;
  padding-right: 40px;
  margin-bottom: 5%;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.tableau_modules{
  margin-left: 10%;
  position: relative;
  width: 80%;
  border-collapse: collapse;
  border-width: medium;
  border-color: #7f8c8d;
  padding: 20px;
}

.tableau_modules td{
  border: solid;
  border-width: medium;
  border-color: #7f8c8d;
  padding: 20px;
}


.enTete {
  font-weight: bold;
  border: solid;
  border-width: medium;
  border-color: #7f8c8d;
}

.nomMudule{
  font-weight: bold;
}

.Ref{
  text-align: center;
  font-size: 1.3em;
  color: #34495e;
}

.titre_form{
  text-align: center;
  font-family: 'Lato';
  font-size: 150%;
  color: #34495e;
  margin-bottom: 50%;
}

.Casemodules{
  font-family: 'Helvetica';
  color: #34495e;
  font-weight: bold;
  vertical-align: bottom;
  padding: 5px;
  text-align: center;
}

.Casemodules a{
  text-decoration: none;
  color: #34495e;

}


/* formulaire d'ajout de domicile */
.formWrapperADD{
  position: sticky;
  top: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top : 15%;
  left:20%;
  height: 70%;
  width: 60%;
  text-align: center;
  background-color: #ecf0f1;
}

.formWrapperSUPPR{
  position: fixed;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top : 15%;
  left:25%;
  height: 60%;
  width: 50%;
  text-align: center;
  background-color: #ecf0f1;

}

.formulaire #txt{
  height: 40px;
  border-radius: 5px;
  border:none;
  box-shadow: 0px  3px 10px rgba(0, 59, 252, 0.34);
  width: 50%;
  font-size: 20px;
  margin-bottom:25px;
}

.closeButton{
  height: 50px;;
  position: absolute;
  top:2%;
  cursor: pointer;
  right:1%;
}

.closeButton:active{
  height: 48px;
  transition:0.1s;
}

/* bouton */
.formButton {
  font-family: "Helvetica";
  height: 60px;
  width:150px;
  background-color: #34495e;
  color: white;
  font-size: 25px;
  border-style: hidden;
  border-radius: 7px;
  cursor:pointer;
}

.formButton:hover{
  background-color: #2980b9;
  transition: 0.3s;
}

.formButton:active {
  background-color: #2980b9;
  height: 65px;
  width:195px;
}
label,#checkBox{
  cursor: pointer;
}


/* Assombrissement */

.pageCover{
  z-index: 2;
  position:fixed;
  top:0px;
  left: 0px;
  background-color: black;
  opacity: 0.5;
  height: 100%;
  width: 100%
}

.invisible {
  display: none;
}

.invisibleSuppr {
  display: none;
}

.invisibleSuppr select{
  margin-bottom: 5px;
  padding: 10px 10px 10px 35px;
  font-size: 20px;
  background-image: url('../Public/images/search.png');
  background-position: 10px 7px;
  background-repeat: no-repeat;
  background-size: 20px;
}
