body{
  /* background-color: #ecf0f1; */
  font-family: 'Lato';
}

/* STATUT USER */
#statut{
position: absolute;
left: 0px;
margin-top: -13px;
padding: 3px;
padding-left: 15px;
background-color: #27ae60;
color: white;
}

/* BOUTON SUPPRESSION DOMICILE */

#supprDomicile{
  background-color:#e74c3c;
  padding: 10px;
  padding-left: 22px;
  padding-right:22px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  margin-top: -15px;
  position: absolute;
  right: 7px;
}

#supprDomicile:hover{
  background-color: #c0392b;
  transition: 0.2s;
}

#supprDomicile:active{
  padding: 8px;
  transition: 0.2s;
}

#addUser{
  background-color:#2c3e50;
  padding: 7px;
  padding-right:28px;
  padding-left:28px;
  border: none;
  color: white;
  margin-top: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

}

#supprUser{
  margin-left:-8px;
  background-color:#2c3e50;
  padding: 7px;
  padding-left: 28px;
  padding-right: 28px;
  border: none;
  color: white;
  margin-top: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

}

#addUser:hover,#supprUser:hover{
  background-color: #34495e;
}




/* FORMULAIRE SUPPRESSION DOMICILE */
.formWrapper{
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top : 15%;
  left:15%;
  height: 60%;
  width: 70%;
  text-align: center;
  background-color: #ecf0f1;
}

.titre_form{
  font-size:25px;
  font-family: 'Lato';
  color: #34495e;

}
.formulaire #txt{
  height: 40px;
  border-radius: 5px;
  border:none;
  width: 50%;
  font-size: 20px;
  margin-bottom:25px;
}

.closeButton{
  height: 50px;;
  position: absolute;
  top:2%;
  cursor: pointer;
  right:1%;
}

.closeButton:active{
  height: 48px;
  transition:0.1s;
}

/* TABLEAU DE PRESENTATION */

.présentation{
  margin-top: 25px;
  width:100%;
  margin-bottom: 100px;
}


.gauche{
  position: -webkit-sticky;
  position: sticky;
  top:0;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
}

.général{
  border-radius: 5px;
  top:0;
  margin-left: -10px;
  text-align: center;
  margin-top: 10px;
  background-color: #479BEE;
  min-height: 300px;
  min-width:100%;
}

.droite{
  /* border-left: solid #bdc3c7; */
  padding-left: 5px;
  overflow-y: auto;
  height: 100px;
}

.titre{
  color: white;
  font-size: 2.4em;
  font-family: 'Lato';
  color: white;
  font-size: 1.7em;
  margin-left: 15px;
}


/* LISTE PIECES */
.pieceWrapper{
  background:;
  border-radius: 5px;
  height: 150px;
  position: relative;
  width: 95%
}

.titrePiece{
  font-family: 'Lato';
  font-size: 1.7em;
  vertical-align: top;
  position:absolute;
}

.titrePiece:hover{
  color: #2c3e50;
}

/* .titrePiece:hover::before{
  content: '> ';
} */

.titrePiece:hover::after{
  content: ' <';
}

.pieceContainer{
  position: absolute;
}

/* bouton */
.formButton {
  font-family: "Lato";
  height: 70px;
  width:200px;
  background-color: #34495e;
  color: white;
  font-size: 25px;
  border-style: hidden;
  border-radius: 7px;
  cursor:pointer;
  transition: 0.3s;
}

.formButton:hover{
  background-color: #2980b9;
}

.formButton:active {
  background-color: #2980b9;
  height: 65px;
  width:195px;
}
label,#checkBox{
  cursor: pointer;
}

/* Assombrissement */

.pageCover{
  z-index: 2;
  position:fixed;
  top:0px;
  left: 0px;
  background-color: black;
  opacity: 0.5;
  height: 100%;
  width: 100%
}

.invisibleSuppr{
  display: none;
}

.invisible{
  display: none;
}

.invisibleSupprPiece{
  display: none;
}

.invisibleADD{
  display: none;
}
.invisibleSupprUser{
  display: none;
}

/* BOUTON AJOUT PIECE */
.gestionPieces{
  position: fixed;
  bottom: 45px;
  right:0px;
}

.gestionPieces button{
  background-color: #34495e;
  text-align: center;
  border:none;
  color:white;
  font-size: 1.5em;
  padding-left:40px;
  padding-right: 40px;
  margin-bottom: 5%;
  margin-right: -5px;
  cursor: pointer;
  transition: 0.2s;

}

.gestionPieces button:hover{
  background-color: #2980b9;
}

.gestionPieces button:active{
  padding-left:38px;
  padding-right: 38px;
}

/* SUPPRESSION DE PIECE */
select{
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  background-image: url('../images/search.png');
  background-position: 10px 7px;
  background-repeat: no-repeat;
  background-size: 20px;
  padding: 7px 10px 7px 35px;
  width:30%
}

/* LISTE MODULE EN LIGNE  */


.pieceContainer{
  display: flex;
  flex-direction: row;
  text-align: center;
  overflow-x: auto;
  width : 100%;
  margin-top: 4%;
  min-height: 80%;
}

.modulesWrapper{
  display: inline-block;
  margin-right: 3%;
  margin-left: 2%;
}

.modulesWrapper p{
  margin-top: -10%;
  color: white;
  font-size: 80%;
}

.modulesWrapper figcaption{
  margin-top: -20%;
  font-weight: bold;
}
