#container {
    display: flex;


}

form.form1 {
    text-align: center;
}


h1,h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    animation-duration: 0.5s;
    animation-name: grossi;
    margin: auto;
}


#TéléphoneF,#TéléphoneF2 {
    background-image:url(/../Watchouse/Public/images/icons/phone.png);
    opacity: 0.7;
    background-position:50%;
    background-size: 38px;
    background-repeat:no-repeat;

}

#NaissanceF,NaissanceF2 {
    background-image:url(/../Watchouse/Public/images/icons/date.png);
    opacity: 0.7;
    background-position:50%;
    background-size: 38px;
    background-repeat:no-repeat;
}

#MailF,#MailF2 {
    background-image:url(/../Watchouse/Public/images/icons/mail.png);
    opacity: 0.7;
    background-position:50%;
    background-size: 38px;
    background-repeat:no-repeat;
}

#AdresseF,#AdresseF2 {
    background-image:url(/../Watchouse/Public/images/icons/location.png);
    opacity: 0.7;
    background-position:50%;
    background-size: 38px;
    background-repeat:no-repeat;
}

#changePhoto {
    position: relative;
    float: left;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
       border-radius: 10px;
       border-width: 1.5px;
       border-color: rgba(0, 0, 0, 0.103);
       width: 160px;
       height: 50px;
       background-color: rgba(138, 138, 138, 0.13);
       color: rgb(109, 109, 109);


    margin-top: 270px;
    margin-left: -180px;

    animation-duration: 0.5s;
    animation-name: grossi;
}



.msg {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
}


@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }


  @keyframes grossi {
    0% {
        transform:scale(0);
    }

    100% {
        transform:scale(1);
    }
  }

.appelation {
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
     text-align: center;
        border-radius: 10px 0px 0px 10px;
        border-width: 1.5px;
        border-right: none;
        border-color: rgba(0, 0, 0, 0.103);
        width: 8%;
        height: 50px;
        margin-right: -5px;
        background-color: rgba(138, 138, 138, 0.13);
        color: rgb(109, 109, 109);
        text-shadow: dimgrey;
        animation-duration: 0.5s;
        animation-name: grossi;


 }

.inputLong {
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 0px 10px 10px 0px;
    border-width: 1.5px;
    border-color: rgba(0, 0, 0, 0.103);
    text-align: center;
    width: 52%;
    height: 50px;
    margin-right: 22px;
    margin-bottom: 8px;
    background-color: rgb(255, 255, 255);
    animation-duration: 0.5s;
    animation-name: grossi;


}

.inputCourt {
    position: relative;
    border-radius: 0px 10px 10px 0px;
    border-width: 1.5px;
    border-color: rgba(0, 0, 0, 0.103);
    text-align: center;
    top: -1px;
    width: 20%;
    height: 50px;
    margin-right: 22px;
    margin-bottom: 6px;
    background-color: rgb(255, 255, 255);
    animation-duration: 0.5s;
    animation-name: grossi;



}

#photo-profil img {
    border-radius: 600px;
    box-shadow: 0px  8px 15px  rgba(0, 0, 0, 0.226);

    position: relative;
    margin-left: 140px;
    margin-top: 50px;
    float: left;
    width: 200px;
    height: 200px;
    animation-duration: 0.5s;
    animation-name: grossi;

}

#changePassword {
    position: relative;
    border-radius: 0px 10px 10px 0px;
    border-width: 1.5px;
    border-color: rgba(0, 0, 0, 0.103);
    text-align: center;
    margin-top: 6px;
    margin-left: -6px;
    width: 25%;
    height: 50px;
    background-color: rgb(235, 238, 243);
    animation-duration: 0.5s;
    animation-name: grossi;

}

#changeInfo {
    position: relative;
    border-radius: 10px 0px 0px 10px;
    border-width: 1.5px;
    border-color: rgba(0, 0, 0, 0.103);
    text-align: center;
    margin-top: 6px;
    width: 25%;
    height: 50px;
    background-color: rgb(235, 238, 243);
    animation-duration: 0.5s;
    animation-name: grossi;

}

 #changePassword:hover,#changeInfo:hover {

    background-color: rgba(160, 174, 190, 0.719);

}

.inputDialog {
    display: flex;
    margin: auto;
    border-radius: 28px 28px 28px 28px;
    border-width: 1.5px;
    border-color: rgba(0, 0, 0, 0.103);
    text-align: center;
    margin-top: 6px;
    width: 70%;
    height: 50px;
    background-color: rgb(255, 255, 255);

}


.menuDialog {
    padding: 0px;
}





 form button {
     background-color: rgba(88, 88, 88, 0.137);
     border-radius: 20px;
 }



dialog {
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 18px;
    box-shadow: 0px  3px 8px rgba(0, 0, 0, 0.096);
    animation-duration: 0.5s;
    animation-name: grossi;
}

.sectionPassword{
    width : 320px;
 }

 #p1,#p2,#p3{
    margin-left: 10px;
 }

 .confirmer,.annuler {
    border-radius: 28px 28px 28px 28px;
    border-width: 1.5px;
    border-color: rgba(0, 0, 0, 0.103);
    text-align: center;
    margin-top: 6px;
    width: 35%;
    height: 50px;
    background-color: rgb(255, 255, 255);
 }

 .confirmer {
     background-color: rgb(215, 241, 228);
 }

 .confirmer:hover {
    background-color: rgb(193, 240, 216);
}

 annuler {
     background-color: rgb(218, 218, 218);
 }

 .annuler:hover {
    background-color: rgb(202, 201, 201);
}
