body{
  /* background-color: #ecf0f1; */
  text-decoration: none;
}

/* Tableau de liste des domiciles */

.tableauWrapper{
  z-index: 1;
}
.tableau_domiciles{
  /* border: solid;
  border-color: #2980b9; */
  padding: 20px;
  overflow: scroll;
}

.titre_domiciles{
  text-align: center;
  font-family: 'Lato';
  font-size: 150%;
  color: #34495e;
  margin-bottom: 15%;
}

.titre_form{
  text-align: center;
  font-family: 'Lato';
  font-size: 150%;
  color: #34495e;
  margin-bottom: 20%;
}

.CaseDomicile{
  font-family: 'Helvetica';
  color: #34495e;
  font-weight: bold;
  vertical-align: bottom;
  padding: 5px;
  text-align: center;
}

.CaseDomicile a{
  text-decoration: none;
  color: #34495e;
}

.separator{
  padding: 10px;
}
@keyframes rotation {
  0% {
    transform: scaleX(0)
  }
  100% {
    transform: scaleX(1);
  }
}


.clef{
  height: 150px;
  animation-duration: 0.5s;
  animation-name: rotation;

}

.addButton{
  height: 150px;
  animation-duration: 0.5s;
  animation-name: rotation;
}


.addButton:active{
  height: 148px;
}

.clef:active{
  height: 148px;
}


@keyframes grossi {
  0% {
      transform:scale(0);
  }

  100% {
      transform:scale(1);
  }
}

/* formulaire d'ajout de domicile */
.formWrapper{
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top : 15%;
  left:15%;
  height: 66%;
  width: 70%;
  text-align: center;
  background-color: #ecf0f1;

    text-align: center;
    background-color: rgb(245, 245, 245);
    border: none;
    border-radius: 18px;
    box-shadow: 0px  3px 8px rgba(0, 0, 0, 0.096);
    animation-duration: 0.5s;
    animation-name: grossi;
}

.formulaire .full{
  height: 40px;
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0.075);
  box-shadow: 0px  3px 8px rgba(0, 0, 0, 0.096);
  border:none;
  width: 50%;
  font-size: 20px;
  margin-bottom:10px;
}



.half{
  height: 40px;
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0.075);
  box-shadow: 0px  3px 8px rgba(0, 0, 0, 0.096); 
  border:none;
  font-size: 20px;
  margin-bottom:10px;
  width: 25%;
}

.closeButton{
  height: 50px;;
  position: absolute;
  top:2%;
  cursor: pointer;
  right:1%;
}

.closeButton:active{
  height: 48px;
  transition:0.1s;
}


/* bouton */
.formButton {
  font-family: "Lato";
  height: 70px;
  width:180px;
  background-color: #34495e;
  color: white;
  font-size: 25px;
  border-style: hidden;
  border-radius: 180px;
  cursor:pointer;
  transition: 0.3s;
}


.formButton:hover{
  background-color: #2980b9;
}

.formButton:active {
  background-color: #2980b9;
  height: 65px;
  width:195px;
}


/* Assombrissement */

.pageCover{
  z-index: 2;
  position:fixed;
  top:0px;
  left: 0px;
  background-color: black;
  opacity: 0.5;
  height: 100%;
  width: 100%
}

.invisible {
  display: none;
}
