 body{
   background-color: #daccbf;
 }

.tableau_domiciles{
  border: solid;
  border-color: #2980b9;
  padding: 20px;
}

.titre_domiciles{
  text-align: center;
  font-family: 'Bauhaus 93';
  color: #2980b9;
  font-weight: lighter;
  margin-bottom: 20%;
}

.CaseDomicile{
  vertical-align: bottom;
  
  border: solid;
  border-width: thin;
  border-color: white;
  padding: 5px;
}

.separator{
  padding: 10px;
}
