body{
  background-color: #4b7bec;
  font-family: 'Lato';
}
.WelcomeMsg {
  font-family: 'Bauhaus 93';
  position: relative;
  display: inline-block;
  color: white;
  font-weight: lighter;
  font-size: 65px;
  text-align: center;
  left: 76px;
  top: 10px;
  height: 100%;
}
.logoWH{
  justify-content: space-around;
  height: 300px;
  position:absolute;
  top: 0px;
  display: block;
  margin-left: 30%;
  margin-top: 200px;
}

.ConnectionPanel{
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  position: relative;
  height: 410px;
  width: 280px;
  float: right;
  top: 130px;
  right: 30px;
  text-align: center;
}


.messageConnexion{
  margin-top: -20px;
  margin-bottom: 30px;
  font-weight: bold;
  color: #4b7bec;
  font-size: 30px;
}

.ConnectionPanel input{
  width: 240px;
  font-size: 25px;
  margin-bottom:25px;
}

.logButton {
  height: 70px;
  width:200px;
  background-color: #3498db;
  color: white;
  font-size: 25px;
  border-style: hidden;
  border-radius: 7px;
  cursor:pointer;
  /* margin-top: 30px; */
}

.logButton:hover{
  background-color: #2980b9;
  transition: 0.3s;
}

.logButton:active {
  background-color: #2980b9;
  height: 65px;
  width:195px;
}

.logoAdmin{
  position: fixed;
  bottom:0px;
  right: 0px;
  border-style: dashed;
  border-color:#4b7bec;
}

.logoAdmin:hover{
  transition: 0.3s;
  border-style: dashed;
  border-color: #e74c3c;
}

.logoAdmin img{
  width: 50px;
}

.logoInterrogation{
  height: 40px;
  margin-bottom: 25px
}

.popup{
  color:#ccc;
  text-shadow:0 -1px 0 black;
}
.popup:hover,.popup:focus{
  box-shadow:0 1px 0 rgba(255,255,255,.4);
}

.popup span{
  position:absolute;
  margin-top:23px;
  margin-left:-35px;
  color:#09c;
  background:rgba(0,0,0,.9);
  padding:15px;
  border-radius:3px;
  box-shadow:0 0 2px rgba(0,0,0,.5);
  transform:scale(0) rotate(-12deg);
  transition:all .25s;
  opacity:0;
}

.popup:hover span, .popup:focus span{
     transform:scale(1) rotate(0);
     opacity:1;
}

#listePlus{
position: absolute;
bottom: 0px;
left:-130px;
width: 90%;
}

.listePlus{
  bottom: 0px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 20px;

}

.listePlus li{
  font-family: 'Bauhaus 93';
  font-weight: lighter;
  margin-right: 5%;
  border-style: solid;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.messageErreur{
  text-align: center;
  position: relative;
  color: red;
}
